@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

.wallpaper {
    display: flex;
    background-image:
        linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), 
        url(./img/wallpaper02.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 29rem;
}

.wallpaper img {
    max-width: 100%;
    max-height: 15rem;
}

.historia {
    background-image: 
        linear-gradient(to top, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%),
        url(./img/hWallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 20px 20px 200px rgba(0,0,0,0.9) inset;
    max-width: 100%;
    min-height: 100vh;
    margin: 10rem 0 4rem 0;
    display: flex;
    align-items: center;
    font-family: "Spline Sans";
    color: white;
}

.contentsArea {
    width: 40%;
    margin-left: auto;
    padding: 4rem;
    background: rgba(0,0,0,0.28);
    box-shadow: 10px 10px 50px 50px rgba(0,0,0,0.28);
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    border-radius: 1rem;
}

.contentsArea h2 {
    overflow: visible;
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.descriptionText {
    text-align: center;
    margin: 2rem;
    letter-spacing: 2px;
    font-size: 2rem;
    font-family: "Spline Sans";
    color: white;

}

.description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem;
    margin: 0 auto;
    align-items: center;
    letter-spacing: 2px;
    gap: 8rem;
    font-size: 1rem;
    font-family: "Spline Sans";
    color: white;
}

.description span {
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
}

.description img {
    width: 100%;
    height: auto;
    min-width: 6.25rem;
}

@media (max-width: 1300px) {
    .description {
        padding: 4rem;
        gap: 5rem;
        font-size: 1rem;
    }

    .description span {
        font-size: 1.2rem;
    }

    .description img {
        width: 100%;
        height: auto;
        min-width: 22.75rem;
    }
}

.logosContainer {
    position: absolute;
    padding: 4rem;
    z-index: 1;
}

.logosContainer img {
    width: auto;
    max-width: 100%;
    max-height: 50px;
}

.logosContainerRight {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    gap: 2rem;
    padding: 4rem;
}

.logosContainerRight img {
    width: auto;
    max-width: 100%;
    max-height: 30px;
}

.videoContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.videoContainer video {
    width: 100%;
    max-width: 80vw;
    height: auto;
}

.videoContainer iframe {
    width: 100%;
    max-width: 100rem;
    height: 50rem;
}

.container {
    display: block;
    text-align: center;
    margin: 2.5rem;
    font-size: 1rem;
    font-family: "Spline Sans";
    letter-spacing: 4px;
    color: white;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: 4rem;
    padding: 1rem;
    margin: 1.5rem;
}

.imageContainer a {
    display: flex;
    transition: 0.2s ease-in-out;
}

.imageContainer img {
    width: 10rem;
    height: auto;
    padding: 4px;
    object-fit: contain;
}

.imageContainer a:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
    background-color: rgba(42, 94, 131, 0.384);
    border-radius: 12px;
}

.conteudoGratis{
    text-align: center;
    margin: 2.5rem;
    font-size: 1rem;
    font-family: "Spline Sans";
    letter-spacing: 2px;
    color: white;
}

.seçõesCG{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem; 
    justify-items: center; 
    align-items: center;
    padding: 3rem;
    margin: auto;
    max-width: 62.5rem; 
}

.expansao img {
    width: 12.5rem;       
    height: 12.5rem;  
    margin: 0 0 1rem 0;    
    object-fit: cover;
    border-radius: 6px; 
}

.expansao h2 {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

hr {
    border-color: rgba(57, 143, 204, 0.384);
}

.footer {
    padding: 2rem;
    font-family: "Spline Sans";
    letter-spacing: 2px;
    font-size: .625rem;
    color: white;
}

.footer img {
    display: block;
    margin: 0 auto;
    max-width: 12.5rem;
    height: auto;
}

.footerContainer {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
    gap: 2rem;
}

.footerContainer a {
    color: white;
    text-decoration: none;
}

.footerContainer a:hover {
    color: rgba(61, 163, 236, 0.658);
    text-decoration: underline;
}